MaaApp/bin/*
MaaApp/libs/android-support-v4.jar
MaaApp/.classpath
MaaApp/.project
MaaApp/.settings/org.eclipse.jdt.core.prefs
MaaApp/.metadata
*.class
*.log
*.out
*~
MaaApp/gen/*
*.orig
Server/logs/*
**/R.java
**/servlets.jar
**/beans.jar
