<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="MLC"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        <activity
            android:name="com.example.firstapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity android:name="com.example.firstapp.RegisterScreenActivity" >
        </activity>
        <activity android:name="com.example.firstapp.MainPageActivity" >
        </activity>
        <activity android:name="com.example.firstapp.AnswerPageActivity" >
        </activity>
        <activity android:name="com.example.firstapp.AskPageActivity" >
        </activity>
        <activity android:name="com.example.firstapp.ProfileActivity" >
        </activity>
        <activity android:name="com.example.homepage.HomePageActivity" >
        </activity>
        <activity android:name="come.example.firstapp.SearchActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="keyboard.SymbolKeyboardDisplay"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
         <activity
            android:name="keyboard.ExpressionKeyboardDisplay"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name="com.example.homepage.PersonalProfile" >
        </activity>
        <activity 
            android:name="com.example.firstapp.IndividualQuestion"
            android:theme="@android:style/Theme.Dialog">            
        </activity>
    </application>

</manifest>