<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cover1"
        android:label="EUREKA"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        <activity android:name="main.StartUp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="main.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="main.RegisterScreenActivity" >
        </activity>
        <activity android:name="main.MainPageActivity" >
        </activity>
        <activity android:name="main.AnswerPageActivity" >
        </activity>
        <activity android:name="main.AskPageActivity" >
        </activity>
        <activity android:name="main.ProfileActivity" >
        </activity>
        <activity android:name="homepage.HomePageActivity" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="homepage.SearchActivity" />
        </activity>
        <activity android:name="homepage.SearchActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="keyboard.SymbolKeyboardDisplay"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="keyboard.ExpressionKeyboardDisplay"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name="homepage.PersonalProfile" >
        </activity>
        <activity
            android:name="homepage.IndividualQuestion"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="keyboard.KeyboardEntry"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name="homepage.FullImage" >
        </activity>
        <activity android:name="homepage.UnansweredQuestions" 
            	  android:theme="@android:style/Theme.Dialog">	  
        </activity>
    </application>

</manifest>